 /* Mobile.css
---------
*/
@media all and (max-width: 767.5px) {


/*FONT*/


/*GENERAL*/

      
.content {
  margin: 0px auto;
  align-content: center;
}

  .container {
    padding: 0px 10px;
}

.info {
  display: flex;
  align-items: center;
  padding: 0px 10px;

}

/*HEADER*/

.reservia {
  flex-direction: column;
  /*width: 100%;*/
}

.logo_reservia_sinscrire {
  display: block;
  margin: 0px;
  width: auto;
  margin: 0px 0px 30px 30px;

}

nav {
  margin: 0px;
  width: auto;
}

.navigation {
  flex-direction: column;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
}
      
ul li {
 border-bottom: 2px solid transparent;
  cursor: pointer;
  list-style-type: none;
  padding-bottom: 18px;
  margin: 30px 30px 0px 30px;
}
      
li:hover {
  border-top: none;
  border-bottom: 2px solid #0065fc;
}

.filtres {
        flex-direction: column;
        width: 100%;
    }

button {
  display: none;
  position: absolute;
  margin-right: auto;
  background-color: black;
}

/*RECHERCHER*/ 



  /*INPUT*/
  input[type=text] {
    width: auto;
    padding: 15px 15px;
    margin: 18px 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #F2F2F2; /*contour du filtre*/
  }

  .text_rechercher {
    display: none;
  } 

  .button_rechercher {
    background-color: #0065fc;
    border-radius: 15px;
    padding: 25px;
    margin-left: -15px;
    cursor: pointer;
  }

  .button_icone {
    display: block;
    color: #FFFFFF;
    font-size: 1rem;
  }

  /* FILTRES */

.filtres {
  align-items: flex-start;
  display: flex;
  padding: 20px;
}
.englobe_filtre {
   display: flex;
   flex-wrap: wrap;
 }

/*ICONE + PHRASE INFORMATION*/

  /*
  .info_circle {
    border: 2px solid #d9d9d9; /*contour du filtre*/
   /* border-radius: 150px;
    color: #0065fc; /*couleur du picto*/
   /* margin-right: 20px;
    width: 20px;
    height: 20px;
    font-size: 1rem;
  }
  */

/*HERBERGEMENTS*/

    .hosting {
        flex-direction: column;
        width: 100%;
    }

    .hebergements {
        width: 100%;
        background-color: #ffffff;
        border-radius: 0px;
        box-sizing: border-box;
        order: 2;
        padding: 20px;
    }

    .card {
        flex-direction: column;
        width: 100%;
    }

    .card1 {
        width: 100%;
        height: 210px;
        padding: 5px;
    }
    .card1 img{
        width: 100%;
        height: 130px;
    }


/*LES PLUS POPULAIRES*/

.icone_line {
    font-size: 1.4rem;
}

  .populaires { 
    border-radius: 0px;
    box-sizing: border-box;
    margin-left: 0;
    width: 100%;  
    order: 1;
    padding: 20px;
  }

    .cardpop {
        width: 100%;
        height: 130px;
        padding: 5px;
    }
    .cardpop img {
        width: 120px;
        height: 100%;
    }


/*ACTIVITES */
 
 .activity {
  flex-flow: column wrap;
  padding: 20px;
}
  
  .act {
    flex-direction: column;
  }
  
 /* .box {
    border-radius: 50px;
    width: 100%;
    padding: 0px;
 }
 */

  .box {
    border-radius: 50px;
    width: 100%;
    padding: 0;
  }
  
  
  /*VIEUX PORT & PARC NATIONAL DES CALANQUES*/ 
  
  .big_box { 
    border-radius: 20px;
    box-shadow: 0 4px 0 1px #adadad18;
    margin-top: 40px;
    width: 100%;
    height: 230px;
  }
  
  .big_box h4 {
    margin-top: 10px;
  }
  
  .big_box img {
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0 0;
  }
  
  
  
  /*FORT DE POMEGUES*/
  
  .box_70 {
    border-radius: 20px;
    box-shadow: 0px 4px 0px 1px #adadad18;
    margin-top: 40px;
    width: 100%;
    height: 230px;
  }
  
  .box_70 h4 {
    margin-top: 10px;
  }
  
  .box_70 img {
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0 0;
  }
  
  
  /*ILES DU FRIOUL*/
  
  .box_30 {
    border-radius: 20px;
    box-shadow: 0px 4px 0px 1px #adadad18;
    margin-top: 40px;
    width: 100%;
    height: 230px;
  }
  
  .box_30 h4 {
    margin-top: 10px;
  }
  
  .box_30 img {
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0 0;
  }
  
  
  /*NOTRE DAME DE LA GARDE*/
  
  .box_50_top {
    border-radius: 20px;
    box-shadow: 0px 4px 0px 1px #adadad18;
    margin-top: 40px;
    width: 100%;
    height: 230px;
  }
  
  .box_50_top h4 {
    margin-top: 10px;
  }
  
  .box_50_top img {
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0 0;
  }
   
  
  /*PARC LONGCHAMP*/
  
  .box_50_bottom {
    border-radius: 20px;
    box-shadow: 0px 4px 0px 1px #adadad18;
    margin-top: 40px;
    width: 100%;
    height: 230px;
  }
  
  .box_50_bottom h4 {
    margin-top: 10px;
  }
  
  .box_50_bottom img{
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0 0;
  }


/*FOOTER*/
    footer {
      height: 100%;
    }
    .footer {
       flex-direction: column;
    }
}