 /* Mobile.css
---------
*/
@media all and (max-width: 767.5px) {


/*FONT*/


/*GENERAL*/

      
.content {
  margin: 0 auto;
  align-content: center;
  padding: 0;
}

.container {
    padding: 0 10px;
}

.info {
  display: flex;
  align-items: center;
  padding: 0;
}

.info_circle {
  width: 30px;
  height: 30px;
}

section {
  padding: 0;
}

header {
  padding: 0;
}

p {
  font-size: 1rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1rem;

}

/*HEADER*/

.reservia {
  flex-direction: column;
}


.logo_reservia_sinscrire {
  align-items: center;
  justify-content: right;
  justify-content: space-between;
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
}

nav {
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: center;
}

.navigation {
  flex-direction: column;
  width: 100%;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: -10px;
  margin-right: -10px;
}
      
ul li {
  border-bottom: 3px solid #f2f2f2;
  border-top: 0;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  padding: 0 0 10px 0;
  margin: 0;
}

li:hover {
  border-top: none;
  border-bottom: 3px solid #0065fc;
  width: 100%;

}

.filtres {
  flex-direction: column;
  width: 100%;
}

.sinscrire {
  position: absolute;
  font-weight: bold;
  font-size: 1rem;
  top: 20px;
  right: 20px;
 
}


/* SECTION recherche */

.trouver_votre_hebergement{
  padding: 10px;
}

.search {
  margin-top: 30px;
}


/*INPUT*/

.localisation {
  width: inherit;
}

input[type=text] {
  width: 100%;
  font-size: 0.9rem;
  flex-grow: 1;

  }
 
.text_rechercher {
  display: none;
} 

.boutton_rechercher {
  background-color: #0065fc;
  color: #ffffff;
  border-radius: 15px;
  padding: 11px 15px;
  margin-left: -20px;
  cursor: pointer;
}

.image_icone img{
  color: #ffffff;
}

.boutton_icone {
  display: block;
  text-align: center;
  width: 20px;
}


  /* FILTRES */

.filtres {
  align-items: flex-start;
  display: flex;
}

.englobe_filtre {
   display: flex;
   flex-wrap: wrap;
   margin: 0;
 }


/*HERBERGEMENTS*/

.hosting {
  flex-direction: column;
  width: 100%;
}

.hebergements {
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
  order: 2;
  padding: 20px;
}

.card_hebergements {
  flex-direction: column;
  width: 100%;
}

.card_solo {
  width: 97%;
  height: 210px;
  padding: 5px;
}

.card_solo img{
  width: 100%;
  height: 130px;
}


/*LES PLUS POPULAIRES*/

.icone_line {
  font-size: 1.4rem;
}

.populaires { 
  border-radius: 0px;
  box-sizing: border-box;
  margin-left: 0;
  width: 100%;  
  order: 1;
  padding: 20px;
}

.cardpop {
  width: 97%;
  height: 160px;
  padding: 5px;
}

.cardpop img {
  width: 120px;
  height: 100%;
}


/*ACTIVITES */
 
 .activity {
  flex-flow: column wrap;
  padding: 20px;
}

.activity_text {
  padding: 0;
}
  
.act {
  flex-direction: column;
}

.box {
  border-radius: 50px;
  width: 100%;
  padding: 0;
}
  
  
/*VIEUX PORT & PARC NATIONAL DES CALANQUES*/ 
  
.big_box { 
  border-radius: 20px;
  box-shadow: 0 4px 0 1px #adadad18;
  margin-top: 40px;
  width: 100%;
  height: 230px;
}
  
.big_box img {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
}
 
  
/*FORT DE POMEGUES*/
  
.box_70 {
  border-radius: 20px;
  box-shadow: 0 4px 0 1px #adadad18;
  margin-top: 40px;
  width: 100%;
  height: 230px;
}
 
.box_70 img {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
}
  
  
/*ILES DU FRIOUL*/
  
.box_30 {
  border-radius: 20px;
  box-shadow: 0 4px 0 1px #adadad18;
  margin-top: 40px;
  width: 100%;
  height: 230px;
}
 
.box_30 img {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
}
  
  
/*NOTRE DAME DE LA GARDE*/
  
.box_50_top {
  border-radius: 20px;
  box-shadow: 0 4px 0 1px #adadad18;
  margin-top: 40px;
  width: 100%;
  height: 230px;
}
 
.box_50_top img {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
}
   
  
/*PARC LONGCHAMP*/
  
.box_50_bottom {
  border-radius: 20px;
  box-shadow: 0 4px 0 1px #adadad18;
  margin-top: 40px;
  width: 100%;
  height: 230px;
}
  
.box_50_bottom img{
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
}


/*FOOTER*/

footer {
  height: 100%;
  padding: 20px 0 0 0;
}

.footer {
  flex-direction: column;
}

.mon_footer {
  margin-bottom: 30px;
}

.mon_footer p {
  font-size: 1.1rem;
}

.mon_footer h3 {
  font-size: 1.2rem;
}

}