 /* tablette.css
---------
*/

/*RESPONSIVE tablette*/
@media all and (max-width: 1199.5px) and (min-width:768px) {
  
 

/*GENERAL*/

.content {
    /*
    background-color: tomato;
    */
    margin: 0 auto;
    align-content: center;
  }

.container {
    padding: 0 40px;
}

section {
  padding: 0;
}

header {
  padding: 0;
}

/*FILTRES*/
   .select {
    margin: 10px; 
  }

 /* INFO + de 500 logements... */

 .info {
    padding: 0;
  }

  /*HERBERGEMENTS*/

 .hosting {
    flex-direction: column;
    width: 100%;
}

.hebergements {
    background-color: #ffffff;
    border-radius: 0;
    box-sizing: border-box;
    padding: 20px;
    order: 2;
    width: 100%;
}

.card {
    display: flex;
    width: 100%;
}

.card1 {
    width: 100%;
    height: 200px;
    padding: 5px;
}
.card1 img {
    width: 100%;
    height: 130px;
}


/*LES PLUS POPULAIRES*/

.align_tablette {
    display: flex;
    align-content: space-around;
}

.icone_line {
  margin-left: 50px;
  font-size: 1.5rem;
}

.populaires { 
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0;
    order: 1;
    width: 100%;  
}

.cardpop {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    height: 150px;
    padding: 5px;
    margin-right: 20px;
}
.cardpop img {
    width: 120px;
    height: 100%;
}


/*ACTIVITES */


.activity {
    flex-flow: column wrap;
    padding: 20px;
}
  
.act {
    flex-direction: column;
  }
  
  .box {
    display: flex;
    border-radius: 50px;
    width: 100%;
    padding: 0px;
  }

  /*VIEUX PORT & PARC NATIONAL DES CALANQUES*/ 
  
  .big_box { 
    border-radius: 20px;
    box-shadow: 0 4px 0 1px #adadad18;
    margin-top: 40px;
    width: 100%;
    height: 430px;
  }
  
  .big_box h4 {
    margin-top: 10px;
  }
  
  .big_box img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
  }
  
  
  
  /*FORT DE POMEGUES*/
  
  .box_70 {
    border-radius: 20px;
    box-shadow: 0px 4px 0px 1px #adadad18;
    margin-top: 40px;
    margin-right: 20px;
    width: 90%;
    height: 230px;
  }
  
  .box_70 h4 {
    margin-top: 10px;
  }
  
  .box_70 img {
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0 0;
  }
  
  
  /*ILES DU FRIOUL*/
  
  .box_30 {
    border-radius: 20px;
    box-shadow: 0px 4px 0px 1px #adadad18;
    margin-top: 40px;
    margin-left: 20px;
    width: 90%;
    height: 230px;
  }
  
  .box_30 h4 {
    margin-top: 10px;
  }
  
  .box_30 img {
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0 0;
  }
  
  
  /*NOTRE DAME DE LA GARDE*/
  
  .box_50_top {
    border-radius: 20px;
    box-shadow: 0px 4px 0px 1px #adadad18;
    margin-top: 40px;
    margin-right: 20px;
    width: 90%;
    height: 230px;
  }
  
  .box_50_top h4 {
    margin-top: 10px;
  }
  
  .box_50_top img {
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0 0;
  }
   
  
  /*PARC LONGCHAMP*/
  
  .box_50_bottom {
    border-radius: 20px;
    box-shadow: 0px 4px 0px 1px #adadad18;
    margin-top: 40px;
    margin-left: 20px;
    width: 90%;
    height: 230px;
  }
  
  .box_50_bottom h4 {
    margin-top: 10px;
  }
  
  .box_50_bottom img{
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0 0;
  }


/*FOOTER*/

.footer {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    }

}